.DS_Store

*.class

__pycache__
# Gradle
.gradle
gradle/
gradlew.bat
gradlew

# Generated code/data
/build/
/bin/
/generated-sources/
/data/

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea
.classpath
.project
.settings
.mtj.tmp/
*.iml

# Misc
output.txt
hs_err_pid*